@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:wght@500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yesteryear&display=swap");

body {
  width: 100%;
  background-color: rgba(240, 240, 240);
  color: rgb(0, 0, 0);
}

.header {
  display: flex;
  background-color: black;
  justify-content: center;
  width: 1920 px;
  height: 100px;
}
.alignement{
  display: flex;
  list-style-type: none;
 
}
.nav {
  display: flex;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
  justify-content: space-between;

 
  background-color: black;
  height: (200px);

  width: 70%;

}
.textposition{
  margin-right: 50px;
  margin-top: 35px;
  
}

.textposition2{
  font-family:'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-style: bold;
  text-transform: uppercase;
  /* text-align: left;
  justify-items: baseline; */
  
}
.textposition3{
  font-family:'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-style: normal;
  /* text-transform: uppercase; */
  /* text-align: left;
  justify-items: baseline; */
  
}
.logo {
  width: 112 px;
  height: 82px;
  display: flex;
  justify-content: right;
  margin-left: 100px;

}

.contact {
  width: 72px;
  height: 100px;
  background-color: #ff6161;
}

a {
  text-decoration: none;
  color: white;
}

.main {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.content {
  width: 960px;
  margin: auto;

  color: rgb(0, 0, 0);
  background-color: rgba(178, 198, 198, 0.5);
  padding: 30px;
}

.picture {
  width: 100%;
  height: auto;
}

.picture2 {
  text-align: center;
}

.subtitle1 {
  text-align: left;
  margin-left: 20px;
}

.mybox {
  width: 300px;
  /* height: 450px; */
  /* margin: 20px; */
/* padding-bottom: 20px; */
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.mybox:hover {
  background-color: rgb(255, 255, 255);
}

.textcontent {
  font-family:'Montserrat', sans-serif;
  color: #000;
  font-size: 14px;
  font-style: normal;
  padding: 10px;
  text-align: left;
  color: rgb(0, 0, 0);
}

.myflexbox {
  display: flex;
  justify-content: space-evenly;
  /* margin: 70px; */
  color: rgb(0, 0, 0);
  flex-wrap: wrap;

}

.myfirstbox {
  display: flex;
  max-width: 1500px;
  margin: 70px;
  color: rgb(0, 0, 0);
  align-items: stretch;
}

.mybox1 {
  width: 645px;
  margin-bottom: 40px;
  /* height: 500px; */
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.title1 {
  font-family:'Montserrat', sans-serif;
  color: #000;
  font-size: 30px;
  font-style: bold;


}

.subtitle1 {
  font-family:'Montserrat', sans-serif;
  color: rgb(130, 130, 130);
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  justify-items: baseline;
 
}

.title2 {
  font-family:'Montserrat', sans-serif;
  color: #000;
  font-size: 30px;
  font-style: bold;
  text-align: left;
  padding: 10px;
}

.myflexbox2 {
  display: flex;
  justify-content: space-evenly;
  /* margin: 70px; */
  color: rgb(0, 0, 0);
  flex-wrap: wrap;

}
.footer{
  display: flex;
  background-color: black;
  justify-content: center;
  width: 100%;
  height: 390px;
 
}
.findus{
  display: flex;
  flex-direction: column;
 align-items: center;
  font-family:'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-style: normal;
  justify-content: center;
  
  
}
 .backgroundcontact{
  width: 276px;
  background-color: #313131;
  display: flex;
  flex-direction: column;
 align-items: center;
 margin-right: 30px;

} 
.logodown {
  width: 112px;
  height: 82px;
 margin: 40px 40px 0 40px ;
}
.myboxnaviguer {
  width: 300px;
 margin: 0 20px 20px 20px;
font-family:'Montserrat', sans-serif;
color: rgb(255, 255, 255);
font-size: 24px;
font-style: bold;
text-align: left;
padding-top: 40px;

}
.linkcontact{
line-height: 25px;
}
.marge{
margin-bottom: 35px;
}
